body, html {
	margin: 0px;
	padding: 0px;
	
}

#headerPanel {
	padding: 0.5em;
	background: #FC4;
}

#searchPanel {
	float:right;
	margin: 0.5em;
}


#titleHeader {
	background: #FFFF99;
	padding: 0.5em;
	vertical-align: middle;
	font-size: 20pt;
	font-weight: bold;
}


.content {
	margin: 0.5em;
}

.formLabel {
	font-weight: bold;
	text-align: right;
	padding-right: 1em;
}

.dateCell {
	font-family: courier;
	font-size: 80%;
	
}