body, html {
	margin: 0px;
	padding: 0px;
	
}

h2 {
	font-size: 14pt;
}

#headerPanel {
	padding: 0.5em;
	background: #FC4;
}

#applicationTitle {
	color: #0000bf;
	font-size: 22pt;
	font-weight: bold;
	font-family: Lucida Console, Monaco5, monospace;
	text-shadow: 2px 2px 5px #007;
	padding: 0.1em 1em;
	float:left;
}

#searchPanel {
	float:right;
	margin: 4px 0.5em;
}



.navBar {
	margin: 0.5em;
	margin-bottom: 1em;	
}

.navBar td {
	text-align: center;
}

.programSearchResults td,th {
	padding: 4px 16px;
	text-align: left;
	verical-align: top;
}


#titleHeader {
	color: #55f;
	background: #FFFF99;
	padding: 0.5em;
	vertical-align: middle;
	text-align:center;
	font-size: 14pt;
	font-weight: bold;
}


.content {
	margin: 0.5em;
}

.formLabel {
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	min-width: 100px;
}

.repoSummary {
	padding-left: 2em;
}

.repoSummaryLine {
	font-size: 80%;	
}

.dateCell {
	font-family: courier;
	font-size: 80%;
	min-width: 100px;
	
}