
table {
	border-collapse: collapse;
}

table.content {
	width:100%;
}

table.content td {
	vertical-align: top;
}

h4 {
	margin-top: 4px;
	text-align: center;
}

#linkPanel {
	width: 460px;
}

#historyPanel {
	padding: 0px 20px 20px 20px;
}

.code {
	font-family: monaco,courier;
	font-size: 10pt;
}

.classLink td {
	padding: 4px 2px 0px 2px;
}
.classLink:hover {
	border: solid 1px black;
}
.commitPanel {
	border: solid 1px black;
	border-bottom: none;
}


.commitPanel.lastEntry {
	border-bottom: solid 1px black;
}

.commitHeader {
	font-size: 10pt;
	background: #aaddef;
	padding: 2px;
}

.commitBody {
	background: #eeeae0;
	padding: 0.5em;
}

.commitAuthor {
	text-align: right;
}

.methodName {
	font-sie: 80%;
	padding-left: 2em;	
}

.explanation {
	font-size: 10pt;
	height: 4em;
}

.number {
	text-align: right;
}

.indirect {
	color: #777;
}

#programAuthorChart {
	border: solid 1px black;
	margin-bottom: 0.5em;
	text-align: center;
}
#floatingAuthorChart {
	position: absolute;
	left: 460px;
	border: solid 1px black;
	background: #fff
}

