#{extends 'main.html' /}
#{set title:'GIT Repository Configuration' /}

%{ 
	disableAction = status == 'Working...';
}%

<p>
    Last commit: ${lastCommit}
    <br/>
</p>

<h3>Repository</h3>
<form action="@{Repository.changeRepository()}" method="POST">
	<table>
   		<tr><td>Name:</td><td><input type="text" name="repositoryName" value="${repository?.name}" /></td></tr> 
    	<tr><td>Path:</td><td><input type="text" name="repositoryPath" value="${repository?.location}" /></td></tr>
    	<tr><td>Last commit:</td><td><input type="text" name="lastCommit" value="${repository?.lastCommitParsed}" /></td></tr>
    </table>
    <input type="submit" value="Change" ${disableAction ? 'disabled=true' : ''}"/>
</form>

#{if repository}
<h3>Actions</h3>
Status: ${status}

<form action="@{Repository.syncWithRepository()}" method="POST">
    <input type="submit" value="Sync with git" ${disableAction ? 'disabled=true' : ''}"/>
</form>

<form action="@{Repository.recalculateProgramAuthors()}" method="POST">
    <input type="submit" value="Recalculate Program Authors" ${disableAction ? 'disabled=true' : ''}"/>
</form>


<form action="@{Repository.wipeRepoData()}" method="POST">
    <input type="submit" value="Wipe RepoData" ${disableAction ? 'disabled=true' : ''}"/>
</form>

<form action="@{Repository.wipePCALinks()}" method="POST">
    <input type="submit" value="Wipe PCA Links" ${disableAction ? 'disabled=true' : ''}"/>
</form>

<form action="@{Repository.deriveAllUsers()}" method="POST">
    <input type="submit" value="Generate users" ${disableAction ? 'disabled=true' : ''}"/>
</form>
#{/if}