#{extends 'main.html' /}
#{set title:'TLM FCA History' /}

PCA Program:

#{form @Application.index()}
    <input type="text" name="programName" value="${programName ?: 'MRCPSO06'}" /> 
    <input type="submit" value="Search" />
#{/form}

#{if results != null && results.isEmpty()}
	No matching programs found.
#{/if}

#{if results}
	<table>
		<tr><th>Program</th><th>Author</th><th>Description</th><th>FCA Links</th>
		#{list items:results, as:'pcaProgram' }
        	<tr><td><a href="@{Application.showProgram(pcaProgram.name)}"/>${pcaProgram.name}</a></td><td>${pcaProgram.author}</td><td>${pcaProgram.description}</td><td>${pcaProgram.javaLinks.size()}</td></tr>
    	#{/list}
    </table>
#{/if}

<!-- 
Feature List
1) Complete commit history across program context. Includes commits with direct message ref, commits for all associated files currently in head.
	Each list item shows SVNRev, Date, Message.
	
2) File association list of commit ordered by weighted relevance to program.
	
3) Author responsibility map
	Author weight based on Commits (include lines affected (deleted + added), class headers, 
	
4) General program header sats:
	Date of first commit, date of last commit, # commits, 
	
5) search page header stats: SVN number last synced to, # programs referenced, 


 -->