#{extends 'main.html' /}
#{set title:'PCA Program Search' /}

%{ page = page ? page : 1%}

<div class="content">
	#{if results != null && results.isEmpty()}
		No matching programs found.
	#{/if}
	
	#{if results == null}
		You can enter a partial program name in the form input above. Partial matches will appear in a list here.
	#{/if}
	
	#{if results || page > 1}
	<div class="navBar">
		Page: <span id="pageDisplay">${page}</span>
		<a  id="previousLink" href="#">Previous</a>
		<a id="nextLink" href="#" >Next</a>
	 </div>
	#{/if}
	
	#{if results}
		<table>
			<tr><th>Program</th><th>Authors</th><th>FCA Links</th>
			#{list items:results, as:'pcaProgram' }
	        	<tr><td><a href="@{Application.showProgram(pcaProgram.name)}">${pcaProgram.name}</a></td><td>${pcaProgram.authors}</td><td>${pcaProgram.javaLinks.size()}</td></tr>
	    	#{/list}
	    </table>
	#{/if}
</div>

<script type="text/javascript">
var page = ${page};
var maxPage = ${Integer.MAX_VALUE}
#{if results == null}
	maxPage = page - 1;
#{/if}

$('#searchSubmit').click(function() {
	$('#pageInput').val(1);
	return true;
})

if (page <= maxPage) {
	$('#nextLink').click(function() {
		var nextPage = page + 1;
		$('#pageInput').val(nextPage);
		$('#searchForm').submit();
	})
} else {
	$('#nextLink').css('display','none');
}

if (page > 1) {
	$('#previousLink').click(function() {
		var nextPage = page - 1;
		$('#pageInput').val(nextPage);
		$('#searchForm').submit();
	})
} else {
	$('#previousLink').css('display','none');
}

</script>