#{if !commits || commits.isEmpty()}
	No commits linked to this program.
#{/if}

#{list items:commits, as: 'commit' }
  <div class="commitPanel ${commit_isLast ? 'lastEntry' : ''}" title="${commit.getToolTip()}">
  	<div class="commitHeader">
  		 <table width="100%">
  		 	<tr><td width="150px" title="${commit.date.format('MMM d, yyyy h:mm:ss a')}">${commit.date.since(true)}</td>
  		 		<td width="200px">Rev ${commit.svnRevision} ${commit.program}</td>
  		 		<td width="40px">+ ${commit.linesAdded}</td>
  		 		<td width="40px">- ${commit.linesRemoved}</td>
  		 		<td class="commitAuthor">${commit.author}</td>
  		 	</tr>
  		 </table>
  	</div>
  	<div class="commitBody">${commit.message}</div>
  </div>
#{/list}