#{extends 'main.html' /}
#{set title: program.name + ' Program Summary' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showProgram.css'}">  
#{/set}
#{set 'moreScripts'} 
<script src="@{'/public/javascripts/jgcharts.pack.js'}" type="text/javascript"></script>
<script type="text/javascript" src="@{'/public/javascripts/showProgram.js'}"></script>
<script type="text/javascript">

	var googleChartAPI = new jGCharts.Api();

	
	function renderAuthorChart(authorMap, target, title) {
		$(target).html('');
		
		if (!authorMap) {
			return;
		}

		if (Object.keys(authorMap).length == 0) {
			return;
		}
		
		var axis_labels = [];
		var data = [];
		var i = 0;
		for (var author in authorMap) {
			var lines = authorMap[author];
			axis_labels[i] = author + ' ' + lines;
			data[i] = [lines,0,0];
			i++;
		}
		
		var pieParams = { 
			data : data,//mandatory  
			type : 'p3',//default bvg 
			size : '400x100',
			axis_labels : axis_labels
		}
		 
		jQuery('<img>') 
		.attr('src', googleChartAPI.make(pieParams)) 
		.appendTo(target);
		
		$(target).prepend("<h4>" + title + "</h4>");
	}	
	
	function renderFloatingAuthorChart(authorMap, classLinkIndex) {
		var classRow = $('#classLink_' + classLinkIndex);
		var offset = classRow.offset();
		var title = classRow.children("td.className").text();
		$('#floatingAuthorChart').css("top", offset.top);
		renderAuthorChart(authorMap, '#floatingAuthorChart', title);
		$('#floatingAuthorChart').prepend('<div class="shim">&nbsp;</div>').css('display','block');
	}
	
	function hideFloatingAuthorChart() {
		$('#floatingAuthorChart').html('').css('display','none');
	}
</script>
#{/set}


<table class="content">
	<tr>
	
	<td id ="linkPanel">
		<h2>Legacy Code Linkage</h2>
		<p class="explanation">
			This list of Java code is based on the @legacy annotations that reference ${program.name}.
			Only the checked/selected classes will be included in the author chart.  By default only the classes with
			a program linkage greater than 60% are selected.
		</p>
		#{if !linkList || linkList.isEmpty()}
			No classes linked to this program.
		#{/if}
		
 		<div id="programAuthorChart" >

		</div>
		
		<table class="code" width="100%">
			#{list items:linkList, as:'link' }
				%{ 
					classTip = link.indirect ? "Not linked via @legacy annotation.\n" : "";
					classTip = classTip + link.getFullyQualifiedClassName();
				}%
			
	        	<tr id="classLink_${link_index}" class="classLink" 
	        			onmouseover="renderFloatingAuthorChart(${link.getAuthorLinesMapAsJSON()}, ${link_index})"
	        			onmouseout="hideFloatingAuthorChart()">
	        		<td><input id="${link.id}" class="selectInput"  type="checkbox" name="select${link.id}" ${classSelection.contains(link.id) ? 'checked':''}/></td>
	        		<td title="Line linkage ${link.lineCoverage().format('0.00')}%">${link.linkLines}/${link.lineTotal}</td>
	        		<td class="className ${link.indirect ? 'indirect' : ''}" title="${classTip}">${link.className}</td>
	        	</tr>
	        	#{list items:link.methodLinks, as:'method' }
	        	<tr>
	        		<td></td>
	        		<td class="number" title="Lines in method">${method.lineTotal}</td>
	        		<td class="methodName" title="Line ${method.startLine}">${method.methodName}()</td>
	        	</tr>
	    		#{/list}
	    	#{/list}
	    </table>
	</td>
	
	<td id="historyPanel">
		<h2>Commit History</h2>
		<p class="explanation">
			This is a chronological list of commits that are relevant to the selected classes on the left.
			Use the checkboxes to select which classes to include.<br/>
		</p>
		<div id="commitList">
			Loading commit history...
		</div>
		<script type="text/javascript">
			var getCommits = #{jsAction @relevantCommits(':programName', ':classSelection') /};
			var getProgramAuthorship = #{jsAction @getProgramAuthorship(':programName', ':classSelection') /};
			
			reloadCommits = function() {
				selection = [];
				index = 0;
				
				$(".selectInput").each( 
					function() { 
					    if (this.checked) { 
				              selection[index++] = '' + this.id;
				         }
					
					});
				
			   	$('#commitList').load(getCommits({programName: '${program.name}', classSelection: selection}), function() {
			   		bindShowAllLinks();
			   	});
			   	
			   
			   	
			   	jQuery.getJSON(getProgramAuthorship({programName: '${program.name}', classSelection: selection}), function(data, textStatus, jqXHR) {
			   		renderAuthorChart(data, '#programAuthorChart', 'Authors of selected classes');
			   	});
			   	
			}
		
			window.onload = function() {
				reloadCommits();
			}
			
			$(".selectInput").click( 
				function() { 
				    reloadCommits();
				});
			
			
			<!-- Add the Show All/Show Relevant functionality -->
			bindShowAllLinks = function() {
				$(".showNotRelevantLink").click(function() {
			   		var showingAll = this.text == "Show relevant";
			   		var commitId = this.id;
			   		//alert(showingAll + ' ' + commitId);
			   		if (showingAll) {
			   			$('.notRelevant' + commitId).css("display","none");
			   			this.innerHTML = 'Show all';
			   		} else {
			   			$('.notRelevant' + commitId).css("display","table-row");
			   			this.innerHTML ='Show relevant';
			   		}
			   		return false;
			   	});
			}
			
		</script>
	</td>
	

	
	
	</tr>
</table>

<div id="floatingAuthorChart" >
</div>
