#{extends 'main.html' /}
#{set title: program.name + ' Program Summary' /}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/showProgram.css'}">  
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/showProgram.js'}"></script>
#{/set}

<div id="headerPanel">
	<table>
		<tr><td>Current as of SVN Revision:</td><td>${repository.svnRevision}</td></tr>
	</table>

</div>


<table class="content">
	<tr>
	
	<td id ="linkPanel">
		<h2>Legacy Code Coverage</h2>
		<p class="explanation">
			This list of Java code is based on the @legacy annotations that reference ${program.name}.
			Because developers use the @legacy inconsistently the line coverage calculation is not fully accurate.
		</p>
		#{if linkList.isEmpty()}
			No classes linked to this program.
		#{/if}
		<table class="code">
			#{list items:linkList, as:'link' }
				%{ 
					classTip = link.indirect ? "Not linked via @legacy annotation.\n" : "";
					classTip = classTip + link.getFullyQualifiedClassName();
				}%
			
	        	<tr>
	        		<td><input type="checkbox" name="file_${link.file.id}" ${classSelection.contains(link.id) ? 'checked':''}/></td>
	        		<td title="Line coverage ${link.lineCoverage()}%">${link.linkLines}/${link.lineTotal}</td>
	        		<td #{if link.indirect}class="indirect"#{/if} title="${classTip}">${link.className}</td>
	        	</tr>
	        	#{list items:link.methodLinks, as:'method' }
	        	<tr>
	        		<td></td>
	        		<td class="number" title="Lines in method">${method.lineTotal}</td>
	        		<td class="methodName" title="Line ${method.startLine}">${method.methodName}()</td>
	        	</tr>
	    		#{/list}
	    	#{/list}
	    </table>
	</td>
	
	<td id="historyPanel">
		<h2>Commit History</h2>
		<p class="explanation">
			This is a chronological list of commits that MAY be relevant to the selected classes on the left.
			Use the checkboxes to select which classes to include.<br/>
		</p>
		<div id="commitList">
			Loading commit history...
		</div>
		<script type="text/javascript">
			var getCommits = #{jsAction @relevantCommits(':programName') /};
			
			reloadCommits = function() {
			   $('#commitList').load(getCommits({programName: '${program.name}'}));
			}
		
			document.body.onload = function() {
				reloadCommits();
			}
		</script>
	</td>
	

	
	
	</tr>
</table>
